
<%
=begin%>
 <h1 class="text-center mb-4"> Proposer son bateau </h1>
 
<%
=end%>
<% if user_bailleur.present? %>

    <h2 class="title m-1"> MES BATEAUX</h2>

    <div data-aos="zoom-in-up" class="container-parent">
        <% @produits.each do |produit| %>
            <%= link_to produit_path(produit) do %>
                <div class="bloc-enfant">
                    <div class="card" style="width: 18rem;">
                        <%= image_tag(produit.image1, class:"card-img-top") if produit.image1.present? %> 
                        <div class="card-body">
                            <p class="card-text fs-1 m-1"> <%= produit.nom %></p>
                            <p class="card-text fs-4 m-1"> Prix: <%= produit.prixjour %></p>
                            <p class="card-text fs-4 m-1"> <%= localisation_port(produit.destination_id) %></p>
                        </div>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>

    <div class="container-fluid width-limited text-start">    
        <%= link_to "Ajouter un bateau", new_produit_path, class: "btn btn-sm btn-primary fw-bold" %>
    </div>

    <hr>  

    <h2 class="title m-1"> MES LOCATIONS </h2>
    <%= render "reservations" %>
    <hr>

    <h2 class="title m-1"> MES STATISTIQUES </h2>
    <%= render "statistiques" %>
    <hr>

<% else %>

    <%= render "etapes" %>

    <hr>
    
<%
=begin%>
     <div data-aos="zoom-in-up" class="container">
        <div class= "text-center">
            <%= link_to 'Log in', new_user_session_path, class: "btn btn btn-warning fw-bold m-2" %>
            <%= link_to 'Create account', new_user_registration_path, class: "btn btn btn-primary fw-bold m-2" %>
        </div>
    </div>  
<%
=end%>       
    <hr>

<% end %>