
<h1 class="text-center"> Je propose mon bateau</h1>

<% if current_user.present? %>
    <h2 class="m-4"> 
        Mes bateaux 
        <%= link_to "Nouveau", new_produit_path, class: "btn btn-primary fw-bold" %>
    </h2>

    <div class="container-bateau">
        <% @produits.each do |produit| %>
            <%= link_to produit_path(produit) do %>
                <div class="bloc-bateau">
                    <div class="card" style="width: 18rem;">
                        <%= image_tag(produit.image1, class:"card-img-top") if produit.image1.present? %> 
                        <div class="card-body">
                            <p class="card-text fs-1 m-1"> <%= produit.nom %></p>
                            <p class="card-text fs-4 m-1"> Prix: <%= produit.prixjour %></p>
                        </div>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
    
    <h2 class="m-4"> Mes statistiques </h2>
    <%= render "statistiques" %>
<% else %>

    <div class="">
        fonctionnement mise en location de son bateau
        etape 1: renseignez les informations sur votre bateau
        etape 2: mettez en ligne votre annonce
        etape 3: trouvez un locataire et recevez votre argent 
    </div>

    <div>
        <%= link_to 'Log in', new_user_session_path %>
        <%= link_to 'Create account', new_user_registration_path %>
    </div>

<% end %>