
<!DOCTYPE html>

<html>

    <div class="centered">
        <%= image_tag(@produit.image1, class: "img-produit") if @produit.image1.present? %>     
    </div>

    <h1 class="centered">Ref. Bateau:<%= produit_full_name(@produit.id) %> </h1>

    <div class="bloc-doc bloc-produit">

        <h2>Informations</h2>

        <div class="container infos"> 

            <table>
                <tr>
                    <td class="td-width">
                        Constructeur:  <%= @produit.marque %> <br>
                        Modèle: <%= @produit.model %> <br>
                        Type: <%= @produit.type_produit %> <br>
                        Nb. personnes recommandé: : <%= @produit.capacite %> <br>
                        Cabine simple: <%=  %> <br>

                        <%= "longeur: #{@produit.longueur}" if @produit.longueur %>
                        <%= "largeur: #{@produit.largeur}" if @produit.largeur %>
                        <%= "tirant: #{@produit.tirant}" if @produit.tirant %>
                        
                        
                        Permis requis:            
                        <% if @produit.capitaine == true %>
                            Capitaine requis
                        <% else %>
                            Capitaine non-requis
                        <% end %> 
                        <br>

                        Moteur: <%= @produit.type_produit %> <br>
                        Puissance: <%= @produit.moteur %> <br>
                        Consommation: <%= produit.consommation %> <br>
                        Année de construction: <%= @produit.annee %> <br>
                        Port: <%= produit_destination(@produit.id) %>
                    </td>
                    <td class="td-width">
                        Prix/jour: <br>
                        basse saison:  <%= @produit.prixjour %> <br>
                        haute saison:  <%= @produit.prixjour_hautesaison %> <br>    
                    </td>
                </tr>
            </table>

        </div>

    </div> 
    
</html>