
<!DOCTYPE html>

<html>

    <h1 class="centered">Reservation #<%= num_resa(@reservation) %> </h1>

    <hr>

    <div class="bloc-doc bloc-bailleur">
       <strong> Bailleur: </strong> <hr>
        <%= bailleur_full_name(bailleur_produit_courant(@reservation.produit_id)) %>  <br>
    </div>

    <div class="bloc-doc bloc-preneur">
       <strong> Locataire: </strong> <hr>
        <%= preneur_full_name(@reservation.preneur_id) %> <br>
    </div>

    <br><br><br><br> <br> <br> <br> <br>

    <%= image_tag(produit_img(@reservation.produit_id), class: "img-produit") %> <br> <br>

    <div class="bloc-doc bloc-produit">
        <%= produit_full_name(@reservation.produit_id) %> <br>
        Synthèse de la location: <br>
        Période:  Du <%= @reservation.debutlocation %> au  <%= @reservation.finlocation %> <br>
        Prix:  <%= @reservation.prix %> <br>
        Port: <%= produit_destination(@reservation.produit_id) %>

    </div>
    
</html>