
<!DOCTYPE html>

<html>

    <h1 class="centered">Reservation #<%= num_resa(@reservation) %> </h1>

    <hr>

    <div class="bloc-doc bloc-bailleur">
       <strong> Bailleur: </strong> <hr>
        <%= bailleur_full_name(bailleur_produit_courant(@reservation.produit_id)) %>  <br>
        coordoonées
    </div>

    <div class="bloc-doc bloc-preneur">
       <strong> Locataire: </strong> <hr>
        <%= preneur_full_name(@reservation.preneur_id) %> <br>
        coordoonées
    </div>

    <div class="bloc-doc bloc-produit">
        <%= image_tag(produit_img(@reservation.produit_id), class: "img-produit") %> <hr>
        <%= produit_full_name(@reservation.produit_id) %> <br>
        Synthèse de la location: <br>
        Période:  Du <%= @reservation.debutlocation %> au  <%= @reservation.finlocation %>
        Prix:  <%= @reservation.prix %>
        Port: <%#= @reservation.debutlocation %>

    </div>
    
</html>