<%= form_with(model: occupation) do |form| %>
  <% if occupation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(occupation.errors.count, "error") %> prohibited this occupation from being saved:</h2>

      <ul>
        <% occupation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nom, style: "display: block" %>
    <%= form.text_field :nom %>
  </div>

  <div>
    <%= form.label :debut, style: "display: block" %>
    <%= form.date_field :debut %>
  </div>

  <div>
    <%= form.label :fin, style: "display: block" %>
    <%= form.date_field :fin %>
  </div>

  <div>
    <% if occupation.produit_id.present? %>
      <%= form.text_field :produit_id %>
    <% else %>
      <%= form.text_field :produit_id, value: @produit.id %> 
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
