
<div id="carouselExampleControls-<%= produit.id %>" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner" style="height: 100%;" data-turbo= "false">
    <% if produit.image1.attached? %>
      <div class="carousel-item active" data-bs-interval="2000">
          <div class="img-wrapper"> <%# fait fonctionner le carroussel %>
              <% if controller_name == 'produits' && action_name == 'show' %>
                <%= link_to(image_tag(produit.image1, class: "img-produit top-rounded"), produit_fullscreen_path(produit)) %>
              <% else %>
                <%= link_to(image_tag(produit.image1, class: "img-produit top-rounded"), produit_path(produit)) %>
              <% end %>
          </div>
      </div>
    <% end %>

    <% produit.medias.each do |media| %>
      <div class="carousel-item" data-bs-interval="2000">
          <% if media.image? %>
             <div class="img-wrapper">
                <% if controller_name == 'produits' && action_name == 'show' %>
                  <%= link_to image_tag(media, class: "img-produit top-rounded"), produit_fullscreen_path(produit) %>
                <% else %>
                  <%= link_to(image_tag(media, class: "img-produit top-rounded"), produit_path(produit)) %>
                <% end %>
              </div>
          <% elsif media.video? %> 
            <div class="img-wrapper">
              <%= video_tag(url_for(media), class: "img-produit", controls: "") %>
            </div>
          <% end %>
      </div>
    <% end %>

  </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls-<%= produit.id %>" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls-<%= produit.id %>" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

</div>
 