<%= form_for produit do |form| %>
  <% if produit.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(produit.errors.count, "error") %> prohibited this produit from being saved:</h2>

      <ul>
        <% produit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="card">
    <%= image_tag(produit.image1, class:"img-fluid rounded") if produit.image1.present? %> 
    <div class="card-body">
      <h5 class="card-title"> <%= produit.nom %></h5>
      <p class="card-text">

      <h4 class="text-center my-2">Informations générales</h4>

      <div class="input-group">
        <%= form.label :nom, class: "input-group-text label-with-format" %>
        <%= form.text_field :nom, class: "form-control field-with-format" %>
      </div>

      <div class="input-group">
        <%= form.label :type, class:"input-group-text label-with-format" %>
        <%= form.select :type_produit, Produit.bateau_types.keys, {include_blank: :true}, class: "form-select text-center" %>
      </div>

      <div class="input-group">
        <%= form.label :marque, class: "input-group-text label-with-format" %>
        <%= form.text_field :marque, class: "form-control field-with-format" %>
      </div>

      <div class="input-group">
        <%= form.label :model, class: "input-group-text label-with-format" %>
        <%= form.text_field :model, class: "form-control field-with-format" %>
      </div>

      <% if current_user && user_admin %>
        <div class="input-group">
          <%= form.label :propriétaire, class: "input-group-text label-with-format" %>
          <% if produit.persisted? %>
            <%= form.select :bailleur_id, options_for_select(Bailleur.distinct.pluck(:nom, :id)), { value: produit.bailleur_id}, class: "form-control field-with-format" %>
          <% else %>
            <%= form.select :bailleur_id, options_for_select(Bailleur.distinct.pluck(:nom, :id)), { include_blank: true }, class: "form-control field-with-format" %>
          <% end %>
        </div>
      <% end %>

      <div class="input-group mb-1">
        <%= form.label :localisation, class:"input-group-text label-with-format" %>
        <%= form.select :destination_id, @destinations.collect { |c| [c.full_name, c.id] }, 
            {include_blank: :true}, class: "form-select text-center" %>
      </div>

      <h4 class="text-center my-2">Caractéristiques</h4>
      
      <div class="input-group">
        <%= form.label :longueur, class: "input-group-text label-with-format" %>
        <%= form.text_field :longueur, class: "form-control field-with-format" %>
      </div>

      <div class="input-group">
        <%= form.label :largeur, class: "input-group-text label-with-format" %>
        <%= form.text_field :largeur, class: "form-control field-with-format" %>
      </div>
      
      <div class="input-group">
        <%= form.label :capacite, class: "input-group-text label-with-format" %>
        <%= form.number_field :capacite, class: "form-control field-with-format" %>
      </div>

      <div class="input-group">
        <%= form.label :nb_cabines, class: "input-group-text label-with-format" %>
        <%= form.number_field :nb_cabines, class: "form-control field-with-format" %>
      </div>

      <div class="input-group">
        <%= form.label :tirant, class: "input-group-text label-with-format" %>
        <%= form.text_field :tirant, class: "form-control field-with-format" %>
      </div>

      <div class="input-group">
        <%= form.label :annee, class: "input-group-text label-with-format" %>
        <%= form.text_field :annee, class: "form-control field-with-format" %>
      </div>

      <div class="input-group">
        <%= form.label :pavillon, class: "input-group-text label-with-format" %>
        <%= form.text_field :pavillon, class: "form-control field-with-format" %>
      </div>

      <div class="input-group">
        <%= form.label :members, class: "input-group-text label-with-format" %>
        <%= form.number_field :members, class: "form-control field-with-format" %>
      </div>

      <div class="input-group">
        <%= form.label :toys, class: "input-group-text label-with-format" %>
        <%= form.text_area :toys, class: "form-control field-with-format" %>
      </div>
      

      <div class="form-check form-switch">
        <div class="custom-control custom-switch">    
            <%= form.check_box :capitaine, class: "form-check-input " %>
            <label class="text-dark" for="capitaine">capitaine</label>
        </div>
      </div>

      <h4 class="text-center my-2">Puissance</h4>

      <div class="input-group">
        <%= form.label :moteur, class: "input-group-text label-with-format" %>
        <%= form.text_field :moteur, class: "form-control field-with-format" %>
      </div>

      <div class="input-group">
        <%= form.label :vitesse, class: "input-group-text label-with-format" %>
        <%= form.text_field :vitesse, class: "form-control field-with-format" %>
      </div>

      <div class="input-group">
        <%= form.label :consommation, class: "input-group-text label-with-format" %>
        <%= form.text_field :consommation, class: "form-control field-with-format" %>
      </div>

      <h4 class="text-center my-2">Tarifs</h4>

      <div class="input-group">
        <%= form.label :prixjour, class: "input-group-text label-with-format" %>
        <%= form.number_field :prixjour, class: "form-control field-with-format" %>
      </div>

      <div class="input-group">
        <%= form.label :prixsemaine, class: "input-group-text label-with-format" %>
        <%= form.number_field :prixsemaine, class: "form-control field-with-format" %>
      </div>

      <div class="input-group">
        <%= form.label :prixjour_hautesaison, class: "input-group-text label-with-format" %>
        <%= form.number_field :prixjour_hautesaison, class: "form-control field-with-format" %>
      </div>

      <div class="input-group">
        <%= form.label :prixsemaine_hautesaison, class: "input-group-text label-with-format" %>
        <%= form.number_field :prixsemaine_hautesaison, class: "form-control field-with-format" %>
      </div>

      <h4 class="text-center my-2">Medias</h4>

      <div class="input-group mb-1">
        <%= form.label :image1, class:"input-group-text label-with-format" %>
        <%= form.file_field :image1, accept: "image/jpeg, image/png", class:"form-control" %>
      </div>

      <h4> Image actuelle:</h4>
  <% if produit.image1.attached? %>
    <div>
      <%= image_tag produit.image1, width: 100 %>
      <%= link_to 'Remove', delete_image1_attachment_produit_path(produit), class: 'btn btn-danger' %>
    </div>
  <% end %>


      <div class="input-group mb-1">
        <%= form.label :medias, class:"input-group-text label-with-format" %>
        <%= form.file_field :medias, accept: 'image/jpeg,image/png,image/gif,video/mp4,video/quicktime', multiple: true, class: "form-control" %>
      </div>

      <h4> Medias actuels:</h4>
      <div>
        <% produit.medias.each do |media| %>
          <% if media.image? %>
            <%= image_tag media, width: 100 %>
          <% elsif media.video? %>
            <video width="100" controls>
              <%= video_tag(url_for(media), class: "img-produit", controls: "") %>
            </video>
          <% end %>
        <%= link_to 'Remove', delete_media_attachment_produit_path(produit, media), method: :delete, data: { confirm: 'Are you sure you want to delete this media?' }, class: 'btn btn-danger' %>
 
        <% end %>
      </div>


      <div class="form-check form-switch">
        <div class="custom-control custom-switch">    
            <%= form.check_box :archive, class: "form-check-input " %>
            <label class="text-dark" for="archive">archivé</label>
        </div>
      </div>


    <hr>

    <div class="row"> 
      <div class="col text-start"> 
        <%= link_to "", espace_bailleur_index_path, class: "btn btn-secondary fa-solid fa-arrow-rotate-left" %>
      </div>
      <div class="col text-end">
        <%= render "shared/form_submit" %> 
      </div>
    </div>

  </div>

<% end %>
