<%= form_with(model: produit) do |form| %>
  <% if produit.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(produit.errors.count, "error") %> prohibited this produit from being saved:</h2>

      <ul>
        <% produit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nom, style: "display: block" %>
    <%= form.text_field :nom %>
  </div>

  <div>
    <%= form.label :type, style: "display: block" %>
    <%= form.text_field :type_produit %>
  </div>

  <div>
    <%= form.label :longueur, style: "display: block" %>
    <%= form.text_field :longueur %>
  </div>

  <div>
    <%= form.label :largeur, style: "display: block" %>
    <%= form.text_field :largeur %>
  </div>

  <div>
    <%= form.label :marque, style: "display: block" %>
    <%= form.text_field :marque %>
  </div>

  <div>
    <%= form.label :model, style: "display: block" %>
    <%= form.text_field :model %>
  </div>

  <div>
    <%= form.label :prixjour, style: "display: block" %>
    <%= form.number_field :prixjour %>
  </div>

  <div>
    <%= form.label :prixsemaine, style: "display: block" %>
    <%= form.number_field :prixsemaine %>
  </div>

  <div class="input-group mb-1">
    <%= form.label :image, class:"input-group-text label-with-format" %>
    <%= form.file_field :image1, class:"form-control m-1 p-1" %>
  </div>

  <div>
    <%#= form.label :bailleur_id, style: "display: block" %>
    <%= form.hidden_field :bailleur_id, value: current_user.id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
