<%= form_for produit do |form| %>
  <% if produit.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(produit.errors.count, "error") %> prohibited this produit from being saved:</h2>

      <ul>
        <% produit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="card">
    <%= image_tag(produit.image1, class:"img-fluid rounded") if produit.image1.present? %> 
    <div class="card-body">
      <h5 class="card-title"> <%= produit.nom %></h5>
      <p class="card-text">

      <div class="input-group">
        <%= form.label :nom, class: "input-group-text label-with-format" %>
        <%= form.text_field :nom, class: "form-control field-with-format" %>
      </div>

      <div class="input-group">
        <%= form.label :type, class:"input-group-text label-with-format" %>
        <%= form.select :type_produit, Produit.bateau_types.keys, {include_blank: :true}, class: "form-select text-center" %>
      </div>

      <div class="input-group">
        <%= form.label :longueur, class: "input-group-text label-with-format" %>
        <%= form.text_field :longueur, class: "form-control field-with-format" %>
      </div>

        <%#= form.label :largeur, class: "input-group-text label-with-format" %>
        <%#= form.text_field :largeur, class: "form-control field-with-format" %>

      <div class="input-group">
        <%= form.label :marque, class: "input-group-text label-with-format" %>
        <%= form.text_field :marque, class: "form-control field-with-format" %>
      </div>

      <div class="input-group">
        <%= form.label :model, class: "input-group-text label-with-format" %>
        <%= form.text_field :model, class: "form-control field-with-format" %>
      </div>

      <div class="input-group">
        <%= form.label :prixjour, class: "input-group-text label-with-format" %>
        <%= form.number_field :prixjour, class: "form-control field-with-format" %>
      </div>

      <div class="input-group">
        <%= form.label :prixsemaine, class: "input-group-text label-with-format" %>
        <%= form.number_field :prixsemaine, class: "form-control field-with-format" %>
      </div>


      <div class="input-group">
        <%= form.label :prixjour_hautesaison, class: "input-group-text label-with-format" %>
        <%= form.number_field :prixjour_hautesaison, class: "form-control field-with-format" %>
      </div>

      <div class="input-group">
        <%= form.label :prixsemaine_hautesaison, class: "input-group-text label-with-format" %>
        <%= form.number_field :prixsemaine_hautesaison, class: "form-control field-with-format" %>
      </div>


      <div class="input-group">
        <%= form.label :capacite, class: "input-group-text label-with-format" %>
        <%= form.number_field :capacite, class: "form-control field-with-format" %>
      </div>

      <div class="form-check form-switch">
        <div class="custom-control custom-switch">    
            <%= form.check_box :capitaine, class: "form-check-input " %>
            <label class="text-dark" for="capitaine">capitaine</label>
        </div>
      </div>

      <div class="input-group mb-1">
        <%= form.label :image1, class:"input-group-text label-with-format" %>
        <%= form.file_field :image1, accept: "image/jpeg, image/png", class:"form-control" %>
      </div>

      <div class="input-group mb-1">
        <%= form.label :image2, class:"input-group-text label-with-format" %>
        <%= form.file_field :image2, accept: "image/jpeg, image/png", class:"form-control" %>
      </div>

      <div class="input-group mb-1">
        <%= form.label :image3, class:"input-group-text label-with-format" %>
        <%= form.file_field :image3, accept: "image/jpeg, image/png", class:"form-control" %>
      </div>

      <div class="input-group mb-1">
        <%= form.label :localisation, class:"input-group-text label-with-format" %>
        <%= form.select :destination_id, @destinations.collect { |c| [c.full_name, c.id] }, 
            {include_blank: :true}, class: "form-select text-center" %>
      </div>


    <% if current_user && user_admin %>
      <div class="input-group">
        <%= form.label :bailleur_id, class: "input-group-text label-with-format" %>
        <% if produit.persisted? %>
          <%= form.select :bailleur_id, options_for_select(Bailleur.distinct.pluck(:nom, :id)), { value: produit.bailleur_id}, class: "form-control field-with-format" %>
        <% else %>
          <%= form.select :bailleur_id, options_for_select(Bailleur.distinct.pluck(:nom, :id)), { include_blank: true }, class: "form-control field-with-format" %>
        <% end %>
      </div>

    <% else %>

    <div>
      <%#= form.hidden_field :bailleur_id, value: user_bailleur.id %>
    </div>

    <% end %>

    <hr>

    <div class="row"> 
      <div class="col text-start"> 
        <%= link_to "", espace_bailleur_index_path, class: "btn btn-secondary fa-solid fa-arrow-rotate-left" %>
      </div>
      <div class="col text-end">
        <%= render "shared/form_submit" %> 
      </div>
    </div>

  </div>

<% end %>
