
<div data-aos="zoom-in-up">
    <div class="card search-card">  
        <h2>
        	La location de bateau en toute simplicité 
        </h2>
        <div>
           Trouvez votre bateau idéal, où que vous soyez, quel que soit votre budget
        </div>

        <%= search_form_for @q, url: produits_path, method: :get do |f| %>

            <div class="form-group my-4">
            <%= f.label :city_cont, "Ville de départ", class: "fw-bold" %>
                <div class="input-group">
                    <span class="input-group-text">
                    <i class="fa fa-search"></i>
                    </span>
                    <%#= f.search_field :city_cont, class: "form-control", placeholder: "Cannes, Antibes, Théoule, ..." %>
                    <%#= f.select :destination_id_cont, options_for_select(Produit.distinct.pluck(:destination_id)), {}, class: "form-select",
                        placeholder: "" %>

                    <%= f.select :destination_id_eq, @destinations.collect { |c| [c.full_name, c.id] }, 
                            {include_blank: :true}, class: "form-select", placeholder: "Cannes, Théoule, Monaco, ..." %>

                </div>
            </div>


            <div class="form-group my-4">
                <%= f.label :type_produit_eq, "Type de bateau", class: "fw-bold" %>
                <%= f.select :type_produit_eq, options_for_select(Produit.distinct.pluck(:type_produit)), {}, class: "form-select",
                    placeholder: "Moteur, voilier, catamaran, ..." %>
            </div>

             <div class="form-group my-4">

             <div class="row">  
                <div class="col">
                    <%= f.label :prixjour_gteq, "Prix minimum", class: "fw-bold" %>
                    <%= f.number_field :prixjour_gteq, class: "form-control", placeholder: "Prix minimum" %>
                </div>
                <div class="col">
                    <%= f.label :prixjour_lteq, "Prix maximum", class: "fw-bold" %>
                    <%= f.number_field :prixjour_lteq, class: "form-control", placeholder: "Prix maximum" %>
                </div>
             </div>
             
            </div> 

            <div class="text-end">
                <%= f.submit "Chercher", class: "btn btn-primary my-2" %>
            </div>

        <% end %>

    </div>

</div>


