
<div data-aos="zoom-in-up">
    <div class="card search-card">  
        <h2>
        	La location de bateau en toute simplicité 
        </h2>
        <div>
           Trouvez votre bateau idéal, où que vous soyez, quel que soit votre budget
        </div>

        <%= search_form_for @q, url: produits_path, method: :get do |f| %>

            <div class="form-group my-4">
            <%= f.label :city_cont, "Ville de départ", class: "fw-bold" %>
            <div class="input-group">
                <span class="input-group-text">
                <i class="fa fa-search"></i>
                </span>
                <%= f.search_field :city_cont, class: "form-control", placeholder: "Cannes, Antibes, Théoule, ..." %>
            </div>
            </div>


            <div class="form-group my-4">
                <%= f.label :type_produit_cont, "Type de bateau", class: "fw-bold" %>
                <%= f.search_field :type_produit_cont, class: "form-control", placeholder: "Moteur, voilier, catamaran, ..." %>
            </div>
            <div class="text-end">
                <%= f.submit "Chercher", class: "btn btn-primary my-2" %>
            </div>

        <% end %>

    </div>

</div>

