
<div class="" id="<%= dom_id produit %>">


  <div class="card produit-card" >

    <%= link_to image_tag(produit.image1, class:"img-produit rounded"), produit_path(produit) if produit.image1.present? %> 
    <div class="card-body">
      <h5 class="card-title"> <%= produit.nom %></h5>
      <p class="card-text">
         <i class="fa fa-circle-info"></i>
         <%= produit.type_produit %>
         <%= produit.marque %>
         <%= produit.model %>
         <%= produit.capitaine %>  <hr>

         <i class="fa fa-ruler"></i>
         <%= produit.longueur %>
         <%= produit.capacite %> <hr>
       
        <i class="fa fa-money-bill"></i>
        Jour: <%= produit.prixjour %>
        Semaine: <%= produit.prixsemaine %> <hr>

        <i class="fa fa-location-dot"></i>
        Localisation: <%= produit.country_label %> | <%= produit.state_label %> | <%= produit.city %>

      </p>
      <div class="container-fluid text-end">
        <div class="row">
          <div class="col-3 text-start">
            <%= button_to "", @produit, method: :delete, class: "btn btn-sm btn-danger fa-solid fa-trash" %>
          </div>  
          <div class="col-9 text-end">
            <%= link_to "", edit_produit_path(produit), class: "btn btn-sm btn-secondary fa-solid fa-pen-to-square" %>
            <%= link_to "", produit_path(produit), class: "btn btn-sm btn-primary fa-solid fa-eye" %>
            <%= link_to "", new_reservation_path(produitId: produit), class: "btn btn-sm btn-success fa-solid fa-cart-shopping" %>
          </div>
        </div>
      </div>
    </div>
  </div> 

</div>
