
<div class="" id="<%= dom_id produit %>">

  <div class="card produit-card" >

    <%= link_to image_tag(produit.image1, class:"img-produit rounded"), produit_path(produit) if produit.image1.present? %> 
    <div class="card-body">
      <h5 class="card-title"> <%= produit.nom %></h5>
      <p class="card-text">
         <i class="fa fa-circle-info"></i>
         <%= produit.type_produit %>
         <%= produit.marque %>
         <%= produit.model %>
         <%= produit.capitaine %>  <hr>

         <i class="fa fa-ruler"></i>
         <%= produit.longueur %>
         <%= produit.capacite %> <hr>
       
        <i class="fa fa-money-bill"></i>
        Jour: <%= produit.prixjour %>
        Semaine: <%= produit.prixsemaine %> <hr>

        <i class="fa fa-location-dot"></i>
        Localisation: <%= localisation_port(produit.destination_id) if produit.destination_id.present? %>

      </p>
      <div class="button-container">

        <% if current_user && user_admin %>
          <%= button_to "", @produit, method: :delete, class: "btn btn-sm btn-danger fa-solid fa-trash" %>
          <%= button_to "", edit_produit_path(produit), 
                class: "btn btn-sm btn-secondary fa-solid fa-pen-to-square", 
                method: :post %>
          <%= link_to "", new_reservation_path(produitId: produit), class: "btn btn-sm btn-success fa-solid fa-cart-shopping p-2" %>
        <% end %>
        <%#= link_to "", produit_path(produit), class: "btn btn-sm btn-primary fa-solid fa-eye" %>
        <%= link_to "Plus d'informations sur ce bateau", new_demande_path(produitId: produit), class: "btn btn-outline-primary" %>
        <%= link_to "", edition_produit_path, class: "btn btn-outline-danger fa-regular fa-file-pdf", target: '_blank' %>

      </div>
    </div>
  </div> 

</div>
