
<div class="" id="<%= dom_id produit %>">

  <div class="card produit-card" >

    <%= render partial: "produits/diaporama", locals: {produit: produit} %>

    <div class="card-body">
      <h5 class="card-title"> <%= produit.nom %></h5>
      <p class="card-text">
         <i class="fa fa-circle-info"></i>
         <%= produit.type_produit %>
         <% if produit.type_produit == "moteur" %>
            puissance: <%= produit.moteur %>
            <%= produit.consommation %>
         <% end %>
         <%= produit.marque %>
         <%= produit.model %>
         <% if produit.annee %>
            année: <%= produit.annee %>
         <% end %>

         <hr>
            <i class="fa fa-user-shield"></i> 
            <% if produit.capitaine == true %>
                Capitaine requis
            <% else %>
                Capitaine non-requis
            <% end %> 
            <hr>

         <i class="fa fa-ruler"></i>
            <% if produit.longueur %>
              <%= "longeur: #{produit.longueur}" %>
            <% end %>
            <% if produit.largeur %>
              <%= "largeur: #{produit.largeur}" %>
            <% end %>
            <% if produit.tirant %>
              <%= "tirant: #{produit.tirant}" %>
            <% end %>

         <hr>

         <i class="fa fa-people-group"></i> 
         Nb. pers.: <%= produit.capacite %> 
         Nb. cabines: <%= produit.nb_cabines %>  <hr>
       
      
        <i class="fa fa-money-bill"></i>
        Jour à partir de: <%= prix_fai_jour_basse_saison(produit) %> - 
        Semaine à partir de: <%= prix_fai_semaine_basse_saison(produit) %> <br> <hr>

        <i class="fa fa-location-dot"></i>
        Localisation: <%= localisation_port(produit.destination_id) if produit.destination_id.present? %>

      </p>
      <div class="button-container">

        <%= link_to "Demander plus d'informations", new_demande_path(produitId: produit), class: "btn btn-action btn-primary w-100 fa-fade my-3 fw-bold" %>
        <%= link_to "", produit_path(produit), class: "btn btn-action btn-primary fa-solid fa-eye" %>
        <%= link_to "", edition_produit_path(produit), class: "btn btn-action btn-outline-danger fa-regular fa-file-pdf", target: '_blank' %>

        <% if current_user && user_admin %>
          <%= link_to "", edit_produit_path(produit), 
                class: "btn btn-action btn-secondary fa-solid fa-pen-to-square" %>
          <%= link_to "", new_reservation_path(produitId: produit), class: "btn btn-action btn-success fa-solid fa-cart-shopping" %>
          
        <% end %>

      </div>
    </div>
  </div> 

</div>
