
<div class="" id="<%= dom_id produit %>">
  <div class="card produit-card" >

    <%= render partial: "produits/diaporama", locals: {produit: produit} %>

    <div class="card-body">
      <h5 class="card-title"> <%= produit_full_name(produit.id) %></h5>
      <p class="card-text">
        <i class="fa fa-circle-info me-2"></i>

        <% if produit.type_produit.present? %>
        type: <%= produit.type_produit %> |
        <% end %>

        <% if produit.type_produit == "moteur" %>
          puissance: <%= produit.moteur %>
          <%= produit.consommation %> |
        <% end %>

        <% if produit.annee.present? %>
          année: <%= produit.annee %>
        <% end %>

        <% if controller_name == 'produits' && action_name == 'show' %>
          <hr>
          <i class="fa fa-user-shield me-2"></i> 
          <% if produit.capitaine == true %>
            Capitaine requis
          <% else %>
            Capitaine non-requis
          <% end %> 
        <% end %>

        <% if produit.longueur.present? || produit.largeur.present? || produit.tirant.present? %>
          <hr>
          <i class="fa fa-ruler me-2"></i>
        <% end %>

        <% if produit.longueur.present? %>
          <%= "longeur: #{produit.longueur}" %>
        <% end %>
        <% if produit.largeur.present? %>
          <%= "largeur: #{produit.largeur}" %>
        <% end %>
        <% if produit.tirant.present? %>
          <%= "tirant: #{produit.tirant}" %>
        <% end %>

        <hr>

         <i class="fa fa-people-group me-2"></i> 
         Nb. pers.: <%= produit.capacite %> 
         Nb. cabines: <%= produit.nb_cabines %>  <hr>
      
        <i class="fa fa-money-bill me-2"></i>
        Jour à partir de: <%= number_to_currency(produit.prixjour, precision: 0, locale: :fr)  %> - 
        Semaine à partir de: <%= number_to_currency(produit.prixsemaine, precision: 0, locale: :fr) %> <br> <hr>

        <i class="fa fa-location-dot me-2"></i>
        <%= localisation_port(produit.destination_id) if produit.destination_id.present? %>
        <hr>

        <% if controller_name == 'produits' && action_name == 'show' %>
          <% if produit.toys.present? %>
            <strong> Toys: </strong> <%= produit.toys %>
            <hr>
          <% end %>
        <% end %>

        <% if current_user && user_admin %>
          <% if produit.archive == true %>
            Archivé
          <% else %>
            Actif
          <% end %> 
        <% end %>

      </p>
      

      
      <div class="button-container">

        <%= link_to "Demander plus d'informations", new_demande_path(produitId: produit), class: "btn btn-action primary-colored w-100 my-3 fw-bold" %>

        <div data-turbo= "false">
          <%= link_to "", produit_path(produit), class: "btn btn-action primary-colored fa-solid fa-eye" %>
        </div>

        <%= link_to "", produit_fullscreen_path(produit), class: "btn btn-action primary-colored fa-solid fa-image" %>
        <%= link_to "", edition_produit_path(produit), class: "btn btn-action primary-colored fa-regular fa-file-pdf", target: '_blank' %>

        <% if current_user && user_admin %>
          <%= link_to "", edit_produit_path(produit), 
                class: "btn btn-action btn-secondary fa-solid fa-pen-to-square" %>
          <%= link_to "", new_reservation_path(produitId: produit), class: "btn btn-action btn-success fa-solid fa-cart-shopping" %>
          
        <% end %>

      </div>


    </div>

  </div> 
</div>
