<div id="<%= dom_id produit %>">
  <p>
    <strong>Nom:</strong>
    <%= produit.nom %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= produit.type_produit %>
  </p>

  <p>
    <strong>Longueur:</strong>
    <%= produit.longueur %>
  </p>

  <p>
    <strong>Largeur:</strong>
    <%= produit.largeur %>
  </p>

  <p>
    <strong>Marque:</strong>
    <%= produit.marque %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= produit.model %>
  </p>

  <p>
    <strong>Prixjour:</strong>
    <%= produit.prixjour %>
  </p>

  <p>
    <strong>Prixsemaine:</strong>
    <%= produit.prixsemaine %>
  </p>

  <p>
    <strong>Bailleur:</strong>
    <%= produit.bailleur_id %>
  </p>

  <p>
    <%= image_tag(produit.image1, class:"img-fluid rounded-start") if produit.image1.present? %> 
  </p>
</div>
