<div class="container-second" id="<%= dom_id produit %>">

<h1> <%= produit.nom %> </h1>

  <div class="card" style="width: 54rem;">
    <%= image_tag(produit.image1, class:"img-fluid rounded-start") if produit.image1.present? %> 
    <div class="card-body">
      <h5 class="card-title"> <%= produit.nom %></h5>
      <p class="card-text">
        Type: <%= produit.type_produit %>
        Longueur: <%= produit.longueur %>
        Largeur: <%= produit.largeur %>
        Marque:  <%= produit.marque %>
        Model:   <%= produit.model %> <hr>
        Prixjour: <%= produit.prixjour %>
        Prixsemaine: <%= produit.prixsemaine %>
      </p>
      <div class="container-fluid text-end">
        <%= link_to "", edit_produit_path(produit), class: "btn btn-primary fa-solid fa-pen-to-square" %>
      </div>
    </div>
  </div>

  <%#= produit.bailleur_id %>

</div>
