<% description "Explorez notre large sélection de bateaux et yachts disponibles à Antibes, Cannes, Mandelieu, et sur la Côte d'Azur. Louez le bateau de vos rêves dès aujourd'hui." %>


<h1 style="position: absolute; left: -9999px;"> 
  Tous les bateaux - Yacht voilier - Mandelieu - Antibes - Cannes 
</h1>

<div class="card p-4 main-card">

  <h3 class="text-center fw-bold my-2" style="color: var(--primary-color);">
    Trouvez votre bateau idéal
  </h3>
  <%= render "produits/form_recherche_bateau" %>
</div>

 <div id="produits" class="main-card ">
  <div class="row justify-content-center">
    <% @produits.each do |produit| %>
      <div class="col-sm-6 col-md-4 col-lg-4 d-flex mb-3">
         <%= render produit %> 
      </div>
    <% end %>
  </div>
</div> 

  <%== pagy_bootstrap_nav(@pagy) %>

 <% if current_user && user_admin %>
    <%= link_to "nouveau bateau", new_produit_path, class: 'btn btn-warning' %>
 <% end %>


<%
=begin%>
    <div data-controller="newrecord" data-action="turbo:submit-end->newrecord#submitEnd">
    <div id="produits" class="container-fluid">
      <div class="row justify-content-center">
        <% @produits.each do |produit| %>
          <div class="col-sm-6 col-md-4 col-lg-3 d-flex align-items-center justify-content-center mb-3">
            <%= render produit %>
          </div>
        <% end %>
      </div>
    </div>

    <% if current_user && user_admin %>
      
      <div role="button" data-action="click->newrecord#openDropdown" 
        data-newrecord-target="openButton" 
        class="fa-solid fa-add btn btn-warning btn-action">
        <span>  Nouveau bateau </span>
      </div>
      <div role="button" data-action="click->newrecord#closeDropdown" 
        data-newrecord-target="closeButton" 
        class="fa-solid fa-close btn btn-danger btn-action">
      </div>

      <div data-newrecord-target="newrecordContent">
        <div id="new_produit">
          <%= render partial: "produits/form", locals: {produit: Produit.new} %>
        </div>
      </div>
    <% end %>
  </div> 
<%
=end%>
