
<%= render @produit %>


<% if current_user && user_admin %>
  <%= button_to @produit, method: :delete, class: "btn btn-action btn-outline-danger",
      data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
      <i class="fa-solid fa-trash me-2"></i>
      <span class="fw-bold"> Supprimer ce produit </span>
  <% end %>
<% end %>

<hr>


<div class="card p-0 mb-4">
  <%= render "map" %>
</div>

  <%#= render "shared/calendar", schedules: @schedules %>

  <%= render 'shared/full_calendar' %> 


<div class="my-4 text-center">
  <%= link_to "Plus d'informations sur ce bateau", new_demande_path(produitId: @produit.id), class: "btn btn-outline-primary" %>
</div>
