<p style="color: green"><%= notice %></p>


<%= render @produit %>

<div class="container-fluid">
  <%= render "map" %>
</div>

 <hr>


<h4> Calendrier </h4>

<div id="occupations" class="container-fluid">
  <div class="row justify-content-center">
    <% @occupations.each do |occupation| %>
      <div class="col-sm-6 col-md-4 col-lg-3 d-flex align-items-center justify-content-center mb-3">
        <!-- Content for each element -->
         <%= render occupation %> 
      </div>
    <% end %>
  </div>
</div>

 <%= link_to "Ajouter une période non-disponible", new_occupation_path(produitId: @produit.id),
      class: "btn btn-primary" %>

