
<h1> <%= produit_full_name(@produit.id) %> </h1>

<div class="container-fluid">  
  <%= render @produit %>
</div>

<% if current_user && user_admin %>
  <%= button_to @produit, method: :delete, class: "btn btn-action btn-outline-danger",
      data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
      <i class="fa-solid fa-trash me-2"></i>
      <span class="fw-bold"> Supprimer ce produit </span>
  <% end %>
<% end %>

<hr>


<div class="container-fluid mb-4">
  <%= render "map" %>
</div>

  <%#= render "shared/calendar", schedules: @schedules %>

  <%= render 'shared/full_calendar' %> 


<div class="my-4 text-center fa-fade">
  <%= link_to "Demander plus d'informations", new_demande_path(produitId: @produit.id), class: "btn btn-action btn-primary w-100 fa-fade my-3 fw-bold" %>
</div>
