
<h1 class="text-center"> Je loue un bateau</h1>

<h2 class="m-1"> Bateaux </h2>

<div class="container-bateau">
    <% @produits.each do |produit| %>
        <div class="bloc-bateau">
            <div class="card" style="width: 18rem;">
                <%= image_tag(produit.image1, class:"card-img-top") if produit.image1.present? %> 
                <div class="card-body">
                    <p class="card-text fs-1 m-1"> <%= produit.nom %></p>
                    <p class="card-text fs-4 m-1"> Prix: <%= produit.prixjour %></p>
                </div>
            </div>
        </div>
    <% end %>
</div>

<h2 class="m-1"> Destinations </h2>

<div class="container-bateau">
    <% @destinations.each do |destination| %>
        <div class="bloc-bateau">
            <div class="card" style="width: 18rem;">
                <%= image_tag(destination.image1, class:"card-img-top") if destination.image1.present? %> 
                <div class="card-body">
                    <p class="card-text fs-1 m-1"> <%= destination.nom %></p>
                    <p class="card-text fs-4 m-1"> Port: <%= destination.port %></p>
                </div>
            </div>
        </div>
    <% end %>
</div>