
<h1 class="text-center mb-4"> Louer un bateau</h1>

<h2 class="title m-1"> BATEAUX </h2>

<div data-aos="zoom-in-up" class="container-parent">
    <% @produits.each do |produit| %>
        <%= link_to new_reservation_path(produitId: produit) do %>
            <div class="bloc-enfant">
                <div class="card main-card">
                    <%= image_tag(produit.image1, class:"card-img-top") if produit.image1.present? %> 
                    <div class="card-body">
                        <p class="card-text fs-1 m-1"> <%= produit.nom %></p>
                        <p class="card-text fs-4 m-1"> Prix: <%= produit.prixjour %></p>
                    </div>
                </div>
            </div>
        <% end %>
    <% end %>
</div>

<hr>

<h2 class="title m-1"> DESTINATIONS </h2>

<div data-aos="zoom-in-up" class="container-parent">
    <% @destinations.each do |destination| %>
        <%= link_to produits_path(city: destination.ville ) do %>
            <div class="bloc-enfant">
                <div class="card" style="width: 18rem;">
                    <%= image_tag(destination.image1, class:"card-img-top") if destination.image1.present? %> 
                    <div class="card-body">
                        <p class="card-text fs-1 m-1"> <%= destination.nom %></p>
                        <p class="card-text fs-4 m-1"> Port: <%= destination.port %></p>
                    </div>
                </div>
            </div>
        <% end %>
    <% end %>
</div>

<hr>


