
<%= link_to produits_path, class:"no-underline" do %>
    <h1>  BATEAUX </h1>
<% end %>

<div data-aos="zoom-in-up">
  <div id="produits" class="container-main">
    <div class="row justify-content-center">
      <% @produits.each do |produit| %>
        <div class="col-sm-6 col-md-4 col-lg-4 d-flex  mb-3">
          <%= render produit %> 
        </div>
      <% end %>
    </div>
  </div> 
</div>

<div class="container-parent m-2">
    <%= link_to(produits_path, class:"btn btn-primary") do %>
    <i class="fa-solid fa-magnifying-glass"></i>
    <span class=""> 
        Recherche avancée 
    </span>
    <% end %>

    <%= link_to "Voir tous les bateaux", produits_path, class: "btn btn-warning ms-2" %>

</div>


<hr>

<h1> DESTINATIONS </h1>

<div data-aos="zoom-in-up" class="container-parent">
    <% @destinations.each do |destination| %>
        <%= link_to produits_path(city: destination ) do %>
            <div class="bloc-enfant">
                <div class="card">
                  <div class="img-wrapper-destination">
                    <% if destination.image1.present? %>
                      <%= image_tag(destination.image1, class: "img-produit top-rounded") %>
                    <% end %>
                  </div>

                  <div class="card-body">
                    <p class="card-text fs-1 m-1 text-truncate"> <%= destination.nom %></p>
                    <p class="card-text fs-4 m-1 text-truncate"> Port: <%= destination.port %></p>
                  </div>
                </div>
            </div>
        <% end %>
    <% end %>
</div>

<hr>


