
<%
=begin%>
 <h1 class="text-center mb-2"> Louer un bateau</h1> 
<%
=end%>

<%= link_to produits_path, class:"no-underline" do %>
    <h2 class="title m-1">  BATEAUX </h2>
<% end %>

<div data-aos="zoom-in-up" class="container-parent">
    <% @produits.each do |produit| %>
        <%= link_to new_reservation_path(produitId: produit) do %>
            <div class="bloc-enfant">
                <div class="card second-card">
                    <%= image_tag(produit.image1, class:"card-img-top") if produit.image1.present? %> 
                    <div class="card-body text-start">
                        <p class="card-text fs-2 m-1 text-center"> <%= produit.nom %></p>
                        <hr>
                       
                        <p class="card-text fs-5 m-1"> 
                            <i class="fa fa-money-bill"></i> 
                            à partir de <%= produit.prixjour %>
                        </p>
                        <p class="card-text fs-5 m-1"> 
                            <i class="fa fa-people-group"></i> 
                            <%= produit.capacite %> pers.
                        </p>
                        <p class="card-text fs-5 m-1"> 
                            <i class="fa fa-user-shield"></i> 
                            <%= produit.capitaine %> 
                        </p>
                        <p class="card-text fs-5 m-1"> 
                            <i class="fa fa-location-dot"></i> 
                            <%= localisation_port(produit.destination_id) if produit.destination_id.present? %>
                        </p>

                    </div>
                </div>
            </div>
        <% end %>
    <% end %>
</div>

<div class="container-parent m-2">
    <%= link_to(produits_path, class:"btn btn-primary") do %>
    <i class="fa-solid fa-magnifying-glass"></i>
    <span class=""> 
        Recherche avancée 
    </span>
    <% end %>
</div>

<hr>

<h2 class="title m-1"> DESTINATIONS </h2>

<div data-aos="zoom-in-up" class="container-parent">
    <% @destinations.each do |destination| %>
        <%= link_to produits_path(city: destination ) do %>
            <div class="bloc-enfant">
                <div class="card second-card">
                    <%= image_tag(destination.image1, class:"card-img-top") if destination.image1.present? %> 
                    <div class="card-body">
                        <p class="card-text fs-1 m-1"> <%= destination.nom %></p>
                        <p class="card-text fs-4 m-1"> Port: <%= destination.port %></p>
                    </div>
                </div>
            </div>
        <% end %>
    <% end %>
</div>

<hr>


