<p style="color: green"><%= notice %></p>

<h1>Schedules</h1>

<div id="schedules">
  <% @schedules.each do |schedule| %>
    <%= render schedule %>
    <p>
      <%= link_to "Show this schedule", schedule %>
    </p>
  <% end %>
</div>

<%= link_to "New schedule", new_schedule_path %>


<hr>  

<!-- with CDN and browser environment namespace -->

<link rel="stylesheet" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css">
<script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.js"></script>

<link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>

<link rel="stylesheet" href="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.css" />
<script src="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.js"></script>

<script>
  const Calendar = tui.Calendar;
</script>

<div data-controller="calendar">
  <%= tag.div nil, data: {schedules: @schedules .to_json}, 
      id: "calendar", 
      class: "container-calendar text-center" %>
</div>

