
<div class="row">

    <small class="container text-light text-center my-3 p-4">
        <%= render "shared/explications" %>
    </small>
    
    <div class="col">
        <strong class="titre-footer">Rubriques</strong>
        <p class="mt-4"> <%= link_to "Aide", root_path, class: "link-mention" %> </p>  
        <p> <%= link_to "Nous connaitre", home_nous_connaitre_path, class: "link-mention" %> </p>    
        <p> <%= link_to "Nous contacter", new_demande_path, class: "link-mention" %> </p>        
        <p> <%= link_to "Nos services", root_path, class: "link-mention" %> </p>  
        <p> <%= link_to "Assurance", root_path, class: "link-mention" %> </p>  
        <p> <%= link_to "Politique de confidentialité", home_politique_confidentialite_path, class: "link-mention" %> </p>  
        <p> <%= link_to "CGU", root_path, class: "link-mention" %> </p>  
        <p> <%= link_to "Mentions légales", home_mentions_legales_path, class: "link-mention" %> </p>  
    </div>


    <div class="col">
         <strong class="titre-footer">Bateaux</strong>
        <p class="mt-4">  <%= link_to "Moteur", root_path, class: "link-mention" %> </p>  
        <p> <%= link_to "Voilier", root_path, class: "link-mention" %> </p>  
        <p> <%= link_to "Catamaran", root_path, class: "link-mention" %> </p>  
        <p> <%= link_to "Yacht", root_path, class: "link-mention" %> </p>  
    </div>

    <div class="col">
         <strong class="titre-footer">Destinations</strong>
        <p class="mt-4"> <%= link_to "Cannes", root_path, class: "link-mention" %> </p> 
        <p> <%= link_to "Golfe Juan", root_path, class: "link-mention" %> </p> 
        <p> <%= link_to "Antibes", root_path, class: "link-mention" %> </p>
        <p> <%= link_to "Mandelieu", root_path, class: "link-mention" %> </p> 
    </div>

</div>


<div class="row my-4">  
    <div class="col text-warning"> 
        <% if current_user && user_admin %>
            Admin
            <%= button_to "", destroy_user_session_path, method: :delete, class: "fa-solid fa-right-from-bracket btn btn-danger"  %>
        <% else %>
            <%= link_to '', new_user_session_path, 
                    class: "fa-solid fa-user-lock btn btn-warning" %>
            <%#= link_to '', new_user_registration_path, class: "fa-solid fa-user-plus btn btn-primary" %>
        <% end %>  
    </div>
</div>

<div class="row my-4 text-center">  
    <div class="col"> 
        <%= render "shared/reseaux" %>
        <%= render "shared/contacts" %>
    </div>
</div>
