
<div class="row my-4">

    <div class="col">
        <h5>Rubriques</h5>
        <p> <%= link_to "Aide", root_path, class: "link-mention" %> </p>  
        <p> <%= link_to "Nous connaitre", home_nous_connaitre_path, class: "link-mention" %> </p>    
        <p> <%= link_to "Nous contacter", new_demande_path, class: "link-mention" %> </p>        
        <p> <%= link_to "Nos services", root_path, class: "link-mention" %> </p>  
        <p> <%= link_to "Assurance", root_path, class: "link-mention" %> </p>  
        <p> <%= link_to "Politique de confidentialité", home_politique_confidentialite_path, class: "link-mention" %> </p>  
        <p> <%= link_to "CGU", root_path, class: "link-mention" %> </p>  
        <p> <%= link_to "Mentions légales", home_mentions_legales_path, class: "link-mention" %> </p>  
    </div>


    <div class="col">
        <h5>Bateaux</h5>
        <p> <%= link_to "Moteur", root_path, class: "link-mention" %> </p>  
        <p> <%= link_to "Voilier", root_path, class: "link-mention" %> </p>  
        <p> <%= link_to "Catamaran", root_path, class: "link-mention" %> </p>  
        <p> <%= link_to "Yacht", root_path, class: "link-mention" %> </p>  
    </div>

    <div class="col">
        <h5>Destinations</h5>
        <p> <%= link_to "Cannes", root_path, class: "link-mention" %> </p> 
        <p> <%= link_to "Théoule", root_path, class: "link-mention" %> </p> 
        <p> <%= link_to "Antibes", root_path, class: "link-mention" %> </p>
        <p> <%= link_to "Deauville", root_path, class: "link-mention" %> </p> 
    </div>

    <div class="col">
        <h5> Nous suivre</h5>
        <%= render "shared/reseaux" %>
    </div>
</div>




<div class="row my-4">  
    <div class="col"> 
        <% if current_user && user_admin %>
            Admin
            <%= button_to "", destroy_user_session_path, method: :delete, class: "fa-solid fa-right-from-bracket btn btn-danger"  %>
        <% else %>
            <%= link_to '', new_user_session_path, class: "fa-solid fa-user-lock btn btn-warning" %>
            <%#= link_to '', new_user_registration_path, class: "fa-solid fa-user-plus btn btn-primary" %>
        <% end %>  
    </div>
</div>

<div class="row my-4">  
    <div class="col"> 
        <%= render "shared/contacts" %>
    </div>
</div>
