<div id="<%= dom_id bailleur %>">
  <p>
    <strong>Prenom:</strong>
    <%= bailleur.prenom %>
  </p>

  <p>
    <strong>Nom:</strong>
    <%= bailleur.nom %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= bailleur.telephone %>
  </p>

  <p>
    <strong>Mail:</strong>
    <%= bailleur.mail %>
  </p>

</div>
