<p style="color: green"><%= notice %></p>

<%= render @bailleur %>

<div>
  <%= link_to "Edit this bailleur", edit_bailleur_path(@bailleur) %> |
  <%= link_to "Back to bailleurs", bailleurs_path %>

  <%= button_to "Destroy this bailleur", @bailleur, method: :delete %>
</div>
