<div class="video-container position-relative">
    <div data-controller="video">
        <video autoplay loop muted playsinline
           src="https://res.cloudinary.com/dukne3lhz/video/upload/v1695994418/pexels-abe-bagyan-9454551_720p_hhrb8w.mp4" 
           type="video/mp4" id="video-background" data-video-target="video">
        </video>
    </div>

    <div class="text-container position-absolute bottom-0 w-100 px-4">
        <h2 class="title-styled mb-4 text-start">
            Retrouvez les bateaux et services proposés par GALAYACHT
        <div>
            <%= link_to "Voir tous les bateaux", produits_path, class: "btn btn-light fw-bold my-2 px-5" %>
        </div>
        </h2>
    </div>
</div>



<div class="container-fluid bg-black overflow-hidden">
  <div class="row row-cols-1 row-cols-md-2">

    <div data-aos="zoom-in-up" class="col border-black p-0 position-relative bloc-topic">
        <%= link_to produits_path(q: { location_eq: true }) do %>
            <%= image_tag("https://res.cloudinary.com/dukne3lhz/image/upload/v1695993409/boat2_og5ivm.webp", class: "img-fluid w-100 h-100") %>
            <div class="position-absolute bottom-0 start-0 end-0 text-center text-white py-2">
                <div class="fs-5 fw-bold"> LOUER UN BATEAU</div>
                <div class="sous-titre-topic"> Note sélection de bateaux disponibles à la location</div>
                <div class="btn btn-sm btn-light my-2 text-medium-sized"> Voir les locations</div>
            </div>
        <% end %>
    </div>
    <div data-aos="zoom-in-up" class="col border-black p-0 position-relative bloc-topic">
        <%= link_to produits_path(q: { vente_eq: true }) do %>
            <%= image_tag("https://res.cloudinary.com/dukne3lhz/image/upload/v1695993411/boat8_oztelv.webp", class: "img-fluid w-100 h-100") %>
            <div class="position-absolute bottom-0 start-0 end-0 text-center text-white py-2">
                <div class="fs-5 fw-bold"> ACHETER UN BATEAU</div>
                <div class="sous-titre-topic"> Note sélection de bateaux disponibles à la vente</div>
                <div class="btn btn-sm btn-light my-2 text-medium-sized"> Voir les ventes</div>
            </div>
        <% end %>
    </div>
    
    <div data-aos="zoom-in-up" class="col border-black p-0 position-relative bloc-topic">
        <%= link_to evenement_index_path do %>
            <%= image_tag("https://res.cloudinary.com/dukne3lhz/image/upload/v1695993414/boat7_f61sxa.webp", class: "img-fluid w-100 h-100") %>
            <div class="position-absolute bottom-0 start-0 end-0 text-center text-white py-2">
                <div class="fs-5 fw-bold"> EVENEMENTS NAUTIQUES</div>
                <div class="sous-titre-topic"> Toutes les informations sur l'organisation de journées et séjours personnels ou professionnels</div>
                <div class="btn btn-sm btn-light my-2 text-medium-sized"> En savoir plus</div>
            </div>
        <% end %>
    </div>

    <div data-aos="zoom-in-up" class="col border-black p-0 position-relative bloc-topic">
        <%= link_to destinations_path do %>
            <%= image_tag("https://res.cloudinary.com/dukne3lhz/image/upload/v1695993412/boat-port_bbsvxg.webp", class: "img-fluid w-100 h-100") %>
            <div class="position-absolute bottom-0 start-0 end-0 text-center text-white py-2">
                <div class="fs-5 fw-bold"> DESTINATIONS</div>
                <div class="sous-titre-topic"> Notre sélection de destinations et villes de départ</div>
                <div class="btn btn-sm btn-light my-2 text-medium-sized"> Découvrir les destinations</div>
            </div>
        <% end %>
    </div>

    <div data-aos="zoom-in-up" class="col border-black p-0 position-relative bloc-topic">
        <%= link_to espace_bailleur_index_path do %>
            <%= image_tag("https://res.cloudinary.com/dukne3lhz/image/upload/v1695993785/boat9_t0prtt.webp", class: "img-fluid w-100 h-100") %>
            <div class="position-absolute bottom-0 start-0 end-0 text-center text-white py-2">
                <div class="fs-5 fw-bold"> PROPOSER UN BATEAU</div>
                <div class="sous-titre-topic"> Retrouvez nos outils pour proposer votre bateau à la location ou à la vente</div>
                <div class="btn btn-sm btn-light my-2 text-medium-sized">  En savoir plus</div>
            </div>
        <% end %>
    </div>

    <div data-aos="zoom-in-up" class="col border-black p-0 position-relative bloc-topic">
      <%= link_to new_demande_path do %>
          <%= image_tag("https://res.cloudinary.com/dukne3lhz/image/upload/v1695993413/boat-contact_itqpgo.webp", class: "img-fluid w-100 h-100") %>
          <div class="position-absolute bottom-0 start-0 end-0 text-center text-white py-2">
              <div class="fs-5 fw-bold"> CONTACT</div>
              <div class="sous-titre-topic"> Contactez nous directement ou laisser nous un message</div>
              <div class="btn btn-sm btn-light my-2 text-medium-sized"> Contact </div>
          </div>
      <% end %>
    </div>

  </div>
</div>



<style>

</style>


