<%= form_with(model: admin_parameter) do |form| %>
  <% if admin_parameter.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(admin_parameter.errors.count, "error") %> prohibited this admin_parameter from being saved:</h2>

      <ul>
        <% admin_parameter.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :remuneration, style: "display: block" %>
    <%= form.number_field :remuneration %>
  </div>

  <div>
    <%= form.label :hautesaison, style: "display: block" %>
    <%= form.date_field :hautesaison %>
  </div>

  <div>
    <%= form.label :conditions_generales, style: "display: block" %>
    <%= form.text_area :conditions_generales %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
