<p style="color: green"><%= notice %></p>

<%= render @admin_parameter %>

<div>
  <%= link_to "Edit this admin parameter", edit_admin_parameter_path(@admin_parameter) %> |
  <%= link_to "Back to admin parameters", admin_parameters_path %>

  <%= button_to "Destroy this admin parameter", @admin_parameter, method: :delete %>
</div>
