<%= form_with(model: preneur) do |form| %>
  <% if preneur.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(preneur.errors.count, "error") %> prohibited this preneur from being saved:</h2>

      <ul>
        <% preneur.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <%= form.label :prenom, class: "input-group-text label-with-format" %>
    <%= form.text_field :prenom, class: "form-control field-with-format" %>
  </div>

  <div class="input-group">
    <%= form.label :nom, class: "input-group-text label-with-format" %>
    <%= form.text_field :nom, class: "form-control field-with-format" %>
  </div>

  <div class="input-group">
    <%= form.label :telephone, class: "input-group-text label-with-format" %>
    <%= form.text_field :telephone, class: "form-control field-with-format" %>
  </div>

  <div class="input-group">
    <%= form.label :mail, class: "input-group-text label-with-format" %>
    <%= form.text_field :mail, class: "form-control field-with-format" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
