<div id="<%= dom_id preneur %>">
  <p>
    <strong>Prenom:</strong>
    <%= preneur.prenom %>
  </p>

  <p>
    <strong>Nom:</strong>
    <%= preneur.nom %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= preneur.telephone %>
  </p>

  <p>
    <strong>Mail:</strong>
    <%= preneur.mail %>
  </p>

</div>
