
  <div id="<%= dom_id preneur %>">

    <div class="card produit-card">
      <div class="row g-0">
        <div class="col-md-12">
          <div class="card-body">
            <h5 class="card-title"> <%= preneur.prenom %>  <%= preneur.nom %> </h5>
            <p class="card-text">
              <i class="fa fa-home"></i>
              <%= preneur.adresse %>   
              <hr>
              <i class="fa fa-phone"></i>
              <%= preneur.telephone %>   
              <hr>
              <i class="fa fa-envelope"></i>
              <%= preneur.mail %>           
            </p>
            <p class="card-text"><small class="text-muted">Since <%= preneur.created_at %></small></p>
          </div>
        </div>
      </div>
      <hr>
      <div class="container-fluid text-end p-2">
        <div class="row"> 
          <div class="col-12 text-end">
            <%= link_to "", edit_preneur_path(preneur), class: "btn btn-sm btn-secondary fa-solid fa-pen-to-square" %>
            <%= link_to "", preneur_path(preneur), class: "btn btn-sm btn-primary fa-solid fa-eye" %>
          </div>
        </div>
      </div>
    </div>

</div>


