<p style="color: green"><%= notice %></p>

<%= render @preneur %>

<div>
  <%= link_to "Edit this preneur", edit_preneur_path(@preneur) %> |
  <%= link_to "Back to preneurs", preneurs_path %>

  <%= button_to "Destroy this preneur", @preneur, method: :delete %>
</div>
