<div id="<%= dom_id contrat %>">

  <p>
    <strong>Loc nom:</strong>
    <%= contrat.loc_nom %>
  </p>

  <p>
    <strong>Loc adresse:</strong>
    <%= contrat.loc_adresse %>
  </p>

  <p>
    <strong>Loc telephone:</strong>
    <%= contrat.loc_telephone %>
  </p>

  <p>
    <strong>Loc mail:</strong>
    <%= contrat.loc_mail %>
  </p>

  <p>
    <strong>Bateau ref:</strong>
    <%= contrat.bateau_ref %>
  </p>

  <p>
    <strong>Bateau proprietaire nom:</strong>
    <%= contrat.bateau_proprietaire_nom %>
  </p>

  <p>
    <strong>Bateau marque:</strong>
    <%= contrat.bateau_marque %>
  </p>

  <p>
    <strong>Bateau model:</strong>
    <%= contrat.bateau_model %>
  </p>

  <p>
    <strong>Armement:</strong>
    <%= contrat.armement %>
  </p>

  <p>
    <strong>Moteur:</strong>
    <%= contrat.moteur %>
  </p>

  <p>
    <strong>Carbutant:</strong>
    <%= contrat.carbutant %>
  </p>

  <p>
    <strong>Nb equipage:</strong>
    <%= contrat.nb_equipage %>
  </p>

  <p>
    <strong>Debut loc:</strong>
    <%= contrat.debut_loc %>
  </p>

  <p>
    <strong>Fin loc:</strong>
    <%= contrat.fin_loc %>
  </p>

  <p>
    <strong>Lieu:</strong>
    <%= contrat.lieu %>
  </p>

  <p>
    <strong>Prix ht:</strong>
    <%= contrat.prix_ht %>
  </p>

  <p>
    <strong>Tva:</strong>
    <%= contrat.tva %>
  </p>

  <p>
    <strong>Acompte:</strong>
    <%= contrat.acompte %>
  </p>

  <p>
    <strong>Caution:</strong>
    <%= contrat.caution %>
  </p>

  <p>
    <strong>Franchise:</strong>
    <%= contrat.franchise %>
  </p>

  <p>
    <strong>Lieu sign:</strong>
    <%= contrat.lieu_sign %>
  </p>

  <p>
    <strong>Date sign:</strong>
    <%= contrat.date_sign %>
  </p>

  <p>
    <strong>Capitaine:</strong>
    <%= contrat.capitaine %>
  </p>

  <p>
    <strong>Capitaine nom:</strong>
    <%= contrat.capitaine_nom %>
  </p>

  <p>
    <strong>Capitaine tel:</strong>
    <%= contrat.capitaine_tel %>
  </p>

  <p>
    <strong>Capitaine mail:</strong>
    <%= contrat.capitaine_mail %>
  </p>

  <p>
    <strong>Type duree:</strong>
    <%= contrat.type_duree %>
  </p>

  <p>
    <strong>Capitaine debut:</strong>
    <%= contrat.capitaine_debut %>
  </p>

  <p>
    <strong>Capitaine fin:</strong>
    <%= contrat.capitaine_fin %>
  </p>

  <p>
    <strong>Capitaine renew:</strong>
    <%= contrat.capitaine_renew %>
  </p>

  <p>
    <strong>Capitaine fonctions:</strong>
    <%= contrat.capitaine_fonctions %>
  </p>

  <p>
    <strong>Capitaine periode essai:</strong>
    <%= contrat.capitaine_periode_essai %>
  </p>

  <p>
    <strong>Capitaine salaire:</strong>
    <%= contrat.capitaine_salaire %>
  </p>

  <p>
    <strong>Capitaine duree travail:</strong>
    <%= contrat.capitaine_duree_travail %>
  </p>

  <p>
    <strong>Capitaine nourriture:</strong>
    <%= contrat.capitaine_nourriture %>
  </p>

  <p>
    <strong>Capitaine indemnite nourritaire jour:</strong>
    <%= contrat.capitaine_indemnite_nourritaire_jour %>
  </p>

  <p>
    <strong>Capitaine conges payes:</strong>
    <%= contrat.capitaine_conges_payes %>
  </p>

  <p>
    <strong>Capitaine preavis:</strong>
    <%= contrat.capitaine_preavis %>
  </p>

</div>
