
<h2 class="mt-5">Contrat</h2>


<div class="container-fluid" style="max-width: 1000px;">
    <%= render @contrat %>
</div>

<div class="d-flex text-center">

  <%= link_to "PDF contrat location", edition_contrat_path(@contrat), class: "btn btn-dark m-1" %>
  <%= link_to "PDF contrat capitaine", edition_capitaine_contrat_path(@contrat), class: "btn btn-dark m-1" %>



  <%= link_to "", edit_contrat_path(@contrat), class: "btn btn-action btn-secondary fa-solid fa-pen-to-square" %>

  <%= button_to "", @contrat, method: :delete, class: "btn btn-action btn-danger fa-solid fa-trash-can",
              data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %> 


</div>
<div class="my-2 w-100">
  <%= link_to contrats_path, class: "btn btn-action btn-secondary" do %>
    <i class="me-1  fa fa-arrow-left"></i>
    <span>Retour</span>
  <% end %>
</div>
