<%= form_with(model: reservation) do |form| %>
  <% if reservation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
        <% reservation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div data-controller="reservation">
    <div class="input-group">
      <%#= form.label :produit_id, class: "input-group-text label-with-format" %>
        <%= form.hidden_field :produit_id, value: produit_courant.id %>
    </div>

    <div>
      <%= render partial: 'produit', locals: { produit: produit_courant } %>
    </div>


    <div class="input-group">
      <%#= form.label :preneur_id, class: "input-group-text label-with-format" %>
      <%= form.hidden_field :preneur_id, value: user_preneur.id, class: "form-control field-with-format" %>
    </div>

    <div class="input-group">
      <%= form.label :debut, class: "input-group-text label-with-format" %>
      <%= form.date_field :debutlocation, data: {
            action: "change->reservation#calculatePrix", 
            target: "reservation.debut", 
            reservation_target: "debut" }, 
            class:"form-select field-with-format" %>  
    </div>

    <div class="input-group">
      <%= form.label :fin, class: "input-group-text label-with-format" %>
      <%= form.date_field :finlocation, 
          data: {
            action: "change->reservation#calculatePrix", 
            target: "reservation.fin", 
            reservation_target: "fin" }, 
          class:"form-select field-with-format" %>  
    </div>

    <div class="">  
      <span>  nombre de jours :  </span>
      <span id="nbJours">
        0
      </span>
    </div>


      <%= form.hidden_field :prixjour, 
            value: produit_courant.prixjour, 
            data: { 
              reservation_target: "prixjourInitial" } %>

      <%= form.hidden_field :prixsemaine, 
            value: produit_courant.prixsemaine, 
            data: { 
              reservation_target: "prixsemaineInitial" } %>

      <%= form.hidden_field :prix, 
        data: { 
          reservation_target: "prix" } %>
  
    <div class="">  
      <span>  prix total:  </span>
      <span id="prixTotal">
        0
      </span>
    </div>


    <div class="input-group">
      <%#= form.label :statut, class: "input-group-text label-with-format" %>
      <%#= form.text_field :statut, class: "form-control field-with-format" %>
    </div>
    
    <hr>

    <div class="row"> 
      <div class="col text-start"> 
        <%= link_to "", espace_preneur_index_path, class: "btn btn-secondary fa-solid fa-arrow-rotate-left" %>
      </div>
      <div class="col text-end">
        <%= render "shared/form_submit" %> 
      </div>
    </div>
    
  </div>
<% end %>
