<%= form_with(model: reservation) do |form| %>
  <% if reservation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
        <% reservation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <div class="input-group">
    <%= form.label :produit_id, class: "input-group-text label-with-format" %>
    <%= form.text_field :produit_id, class: "form-control field-with-format" %>
  </div>

  <div class="input-group">
    <%= form.label :preneur_id, class: "input-group-text label-with-format" %>
    <%= form.text_field :preneur_id, class: "form-control field-with-format" %>
  </div>

  <div class="input-group">
    <%= form.label :debutlocation, class: "input-group-text label-with-format" %>
    <%= form.date_field :debutlocation, class: "form-control field-with-format" %>
  </div>

  <div class="input-group">
    <%= form.label :finlocation, class: "input-group-text label-with-format" %>
    <%= form.date_field :finlocation, class: "form-control field-with-format" %>
  </div>

  <div class="input-group">
    <%= form.label :prix, class: "input-group-text label-with-format" %>
    <%= form.number_field :prix, class: "form-control field-with-format" %>
  </div>

  <div class="input-group">
    <%= form.label :statut, class: "input-group-text label-with-format" %>
    <%= form.text_field :statut, class: "form-control field-with-format" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
