<div class="container" id="<%= dom_id produit %>">

    <div class="card" style="width: 100%;">
    <%= image_tag(produit.image1, class:"img-fluid rounded-top") if produit.image1.present? %> 
        <div class="card-body">
            <h2 class="card-title">
                <%= produit.nom %> <hr>
                <%= localisation_port(produit.destination_id) if produit.destination_id.present? %>
            </h2>
            <p class="card-text">
                <%= produit.type_produit %>
                <%= produit.marque %>
                <%= produit.model %>
            </p>
        </div>
    </div>
</div>
