<div id="<%= dom_id reservation %>">
  <p>
    <strong>Produit:</strong>
    <%= reservation.produit_id %>
  </p>

  <p>
    <strong>Preneur:</strong>
    <%= reservation.preneur_id %>
  </p>

  <p>
    <strong>Debutlocation:</strong>
    <%= reservation.debutlocation %>
  </p>

  <p>
    <strong>Finlocation:</strong>
    <%= reservation.finlocation %>
  </p>

  <p>
    <strong>Prix:</strong>
    <%= reservation.prix %>
  </p>

  <p>
    <strong>Statut:</strong>
    <%= reservation.statut %>
  </p>

</div>
