<h3>Espace Admin</h3>

<div class="container m-2">
    <%= link_to "Paramètres", admin_parameters_path, class: "btn btn-dark m-2" %>
    <%= link_to "Nouveau locataire", new_preneur_path, class: "btn btn-primary m-2" %>
    <%= link_to "Nouveau propriétaire", new_bailleur_path, class: "btn btn-success m-2" %>
</div>

<div class="container">

    <%= render "liste_reservations" %>

    <%= render "liste_admins" %>
    <hr>

    <%= render "liste_bailleurs" %>
    <hr>

    <%= render "liste_preneurs" %>

    <hr>

    <%= render "liste_demandes" %>
</div>