<h3>Espace Admin</h3>

<section>
    <h4 class="container-fluid text-start"> Users</h4>
    <table class="table table-striped">
        <thead>
            <tr>
            <th>#</th>
            <th>Email</th>
            <th>Création</th>
            </tr>
        </thead>
        <tbody>
            <% @users.each do |user| %>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.email %></td>
                <td><%= user.created_at %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</section>

<hr>    

<section>
    <h4 class="container-fluid text-start"> Propriétaires</h4>

        <table class="table table-striped">
            <thead>
                <tr>
                <th>#</th>
                <th>Email</th>
                <th>Création</th>
                </tr>
            </thead>
            <tbody>
                <% @bailleurs.each do |baileur| %>
                <tr>
                    <td><%= baileur.id %></td>
                    <td><%= bailleur_full_name(baileur.id) %></td>
                    <td><%= baileur.created_at %></td>
                </tr>
                <% end %>
            </tbody>
     </table>
</section>

<hr>


<section>
    <h4 class="container-fluid text-start"> Locataires</h4>

    <table class="table table-striped">
        <thead>
            <tr>
            <th>#</th>
            <th>Email</th>
            <th>Création</th>
            </tr>
        </thead>
        <tbody>
            <% @preneurs.each do |preneur| %>
            <tr>
                <td><%= preneur.id %></td>
                <td><%= preneur_full_name(preneur.id) %></td>
                <td><%= preneur.created_at %></td>
            </tr>
            <% end %>
        </tbody>
    </table>

</section>