<h3>Espace Admin</h3>

<%= link_to "Paramètres", admin_parameters_path %>

<div class="container">

    <%= render "liste_reservations" %>

    <%= render "liste_admins" %>
    <hr>

    <%= render "liste_bailleurs" %>
    <hr>

    <%= render "liste_preneurs" %>

</div>