<div id="<%= dom_id destination %>">
  <p>
    <strong>Nom:</strong>
    <%= destination.nom %>
  </p>

  <p>
    <strong>Pays:</strong>
    <%= destination.pays %>
  </p>

  <p>
    <strong>Ville:</strong>
    <%= destination.ville %>
  </p>

  <p>
    <strong>Cp:</strong>
    <%= destination.cp %>
  </p>

  <p>
    <strong>Port:</strong>
    <%= destination.port %>
  </p>

</div>
