<div id="<%= dom_id destination %>">

  <div class="card produit-card" >
    <div class="img-wrapper-destination">
      <%= link_to image_tag(destination.image1, class:"img-produit rounded"), produits_path(city: destination) if destination.image1.present? %> 
   </div>
    <div class="card-body">
      <h5 class="card-title"> <%= destination.nom %></h5>
      <p class="card-text">
        <i class="fa fa-location-dot"></i>
        <%#= destination.pays %> <%= destination.ville %>  <%#= destination.port %>
      </p>
      <div class="container-fluid text-end">
        <div class="button-container">
          <% if current_user.present? && current_user.admin? %>
            <%= link_to "", edit_destination_path(destination), class: "btn btn-action btn-secondary fa-solid fa-pen-to-square" %>

            <%= button_to "", @produit, method: :delete, class: "btn btn-action btn-danger fa-solid fa-trash" %>
          <% end %>
          <div data-turbo="false">
            <%= link_to produits_path(city: destination), class: "btn btn-action btn-success" do %>
              <span class="fw-bold mx-1"> Voir les bateaux </span>
            <% end %>
          </div>
        </div>

      </div>
        
    </div>
  </div> 

</div>
