<%= form_with(model: destination) do |form| %>
  <% if destination.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(destination.errors.count, "error") %> prohibited this destination from being saved:</h2>

      <ul>
        <% destination.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <%= form.label :nom, class: "input-group-text label-with-format" %>
    <%= form.text_field :nom, class: "form-control field-with-format" %>
  </div>

  <div class="input-group">
    <%= form.label :pays, class: "input-group-text label-with-format" %>
    <%= form.text_field :pays, class: "form-control field-with-format" %>
  </div>

  <div class="input-group">
    <%= form.label :ville, class: "input-group-text label-with-format" %>
    <%= form.text_field :ville, class: "form-control field-with-format" %>
  </div>

  <div class="input-group">
    <%= form.label :cp, class: "input-group-text label-with-format" %>
    <%= form.text_field :cp, class: "form-control field-with-format" %>
  </div>

  <div class="input-group">
    <%= form.label :port, class: "input-group-text label-with-format" %>
    <%= form.text_field :port, class: "form-control field-with-format" %>
  </div>

  <div class="input-group mb-1">
    <%= form.label :image, class:"input-group-text label-with-format" %>
    <%= form.file_field :image1, class:"form-control m-1 p-1" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
