<div id="<%= dom_id demande %>">
  <p>
    <strong>Nom:</strong>
    <%= demande.nom %>
  </p>

  <p>
    <strong>Mail:</strong>
    <%= demande.mail %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= demande.telephone %>
  </p>

  <p>
    <strong>Type demande:</strong>
    <%= demande.type_demande %>
  </p>

  <p>
    <strong>Commentaires:</strong>
    <%= demande.commentaires %>
  </p>

</div>
